---
title: Services
class: services logo-black
---

<main class="tp">
  <section class="vp">
    <div class="container hp tp">
      <div class="vp">
        <h1>{{ page.title }}</h1>
        <h2 class="wow fadeInUp tp" data-wow-delay="1s">Solving business challenges with creative ideas.</h2>
        <p class="wow fadeInUp" data-wow-delay="1s">We are a creative duo that roll up our sleeves to help brands grow through thoughtful strategy, collaborative insights, and quite frankly, hard work. Our process of strategic planning, a customer-centric outlook, unrelenting discovery and a keen eye for the details generates a brand story with purpose.</p>
        <a href="/contact" class="button wow fadeInUp" data-wow-delay="1s">Hire us!</a>
      </div>
    </div>
  </section>
  <section id="process" class="vp">
    <div class="container hp bp col col-3">
      <div>
        <span class="process-stage center wow rollIn" data-wow-delay="1s">1</span>
        <span class="line wow stretchRight" data-wow-delay="1.2s"></span>
        <h4 class="wow fadeIn" data-wow-delay="1.5s">Discover</h4>
        <p class="wow fadeIn" data-wow-delay="1.5s">Whether your company is evolving or new to your industry, we work with you to clarify your purpose. We help you discover your voice, understand your customers and define your goals.</p>
      </div>
      <div>
        <span class="process-stage center wow rollIn" data-wow-delay="2s">2</span>
        <span class="line wow stretchRight" data-wow-delay="2.2s"></span>
        <h4 class="wow fadeIn" data-wow-delay="2.5s">Design</h4>
        <p class="wow fadeIn" data-wow-delay="2.5s">We want to express your company's personality and values to reach your customers. We work with you to determine which direction you go incorporating all we have uncovered through the discovery.</p>
      </div>
      <div>
        <span class="process-stage center wow rollIn" data-wow-delay="3s">3</span>
        <span class="line wow stretchRight" data-wow-delay="3.2s"></span>
        <h4 class="wow fadeIn" data-wow-delay="3.5s">Deliver</h4>
        <p class="wow fadeIn" data-wow-delay="3.5s">Through hard work and something, you're super happy and we're ready to complete. You're excited to be delivering a comprehensive and consistant experience that resonates with your customers and builds lasting relationships.</p>
      </div>
    </div>
  </section>
  <section class="vp">
    <div class="container hp col col-2">
      <div class="half">
        <img class="wow fadeInLeft" src="{{ site.url }}/assets/images/hero/web-design-hero.svg" alt="Jacfox Media Web Design" data-wow-delay="1s"/>
      </div>
      <div class="half vp">
        <span class="line wow stretchRight" data-wow-delay="0.2s"></span>
        <h2 class="wow fadeInUp" data-wow-delay="0.3s">Web Design</h2>
        <h3 class="wow fadeInUp" data-wow-delay="0.4s">Custom web solutions</h3>
        <p class="wow fadeInUp" data-wow-delay="0.5s">Our Design and Development workflows are intertwined, ensuring that we produce a seemless digital brand experience across all devices and touch-points. This collaborative approach combines strength and experience in all areas of the digital process, resulting in creatively unique and technically brilliant digital solutions.</p>
      </div>
    </div>
  </section>
  <section class="vp">
    <div class="container hp vp col col-2">
      <div class="half vp">
        <span class="line wow stretchRight" data-wow-delay="0.2s"></span>
        <h2 class="wow fadeInUp" data-wow-delay="0.3s">Branding</h2>
        <h3 class="wow fadeInUp" data-wow-delay="0.4s">Resonate with your audience</h3>
        <p class="wow fadeInUp" data-wow-delay="0.5s">Our strategic understanding and creative insight combine to deliver inspiring ideas that create real brand purpose, meaning and value where it matters most. We help businesses create big ideas that inspire people and engage their clients. We invest time in getting to know a business from the inside out, to deliver a unique brand experience that allows them connect seamlessly in today’s modern marketing mix.</p>
      </div>
      <div class="half">
        <img class="wow fadeInRight" src="{{ site.url }}/assets/images/hero/branding-hero.svg" alt="Jacfox Media Web Design" data-wow-delay="1s"/>
      </div>
    </div>
  </section>
  <section class="vp lg-bg wow stretchLeft" data-wow-delay="0.2s">
    <div class="container hp vp">
      <span class="line wow stretchRight" data-wow-delay="1s"></span>
      <h2 class="wow fadeInUp" data-wow-delay="1.2s">What we can do</h2>
      <p class="wow fadeInUp" data-wow-delay="1.2s">Are you ready for the adventure?</p>
    </div>
    <div class="container hp">
      <ul class="col col-3 vp">
        <li class="wow fadeIn" data-wow-delay="1.5s">UX</li>
        <li class="wow fadeIn" data-wow-delay="1.6s">UI</li>
        <li class="wow fadeIn" data-wow-delay="1.7s">Logos</li>
        <li class="wow fadeIn" data-wow-delay="1.8s">Brand Guidelines</li>
        <li class="wow fadeIn" data-wow-delay="1.9s">Packaging</li>
        <li class="wow fadeIn" data-wow-delay="2s">Branded Environments</li>
        <li class="wow fadeIn" data-wow-delay="2.1s">Marketing Communications</li>
        <li class="wow fadeIn" data-wow-delay="2.2s">Print Media</li>
        <li class="wow fadeIn" data-wow-delay="2.3s">Web Development</li>
        <li class="wow fadeIn" data-wow-delay="2.4s">Web Design</li>
        <li class="wow fadeIn" data-wow-delay="2.5s">E-commerce</li>
        <li class="wow fadeIn" data-wow-delay="2.6s">Magic</li>
      </ul>
    </div>
  </section>
  <section class="vp">
    <div class="container hp vp">
      <span class="line wow stretchRight"></span>
      <h2 class="wow fadeInUp">Think we could be a good fit?</h2>
      <p class="wow fadeInUp">Describe your project and leave us your contact info</p>
      {% include contact.html %}
    </div>
  </section>
  <section class="vp">
    <div class="container hp">
      <span class="line wow stretchRight"></span>
      <h2 class="wow fadeInUp">Maybe you want to explore further?</h2>
      <p class="wow fadeInUp">We've got something special lined up for you</p>
      <div class="col">
        <div class="bp">
          {% include work.html %}
        </div>
      </div>
    </div>
  </section>
</main>
