<footer id="footer" class="vp white">
  <div class="container hp vp col col-3">
    <div>
      <h3 class="lg">Follow us!</h3>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-behance"></i>
      <i class="fab fa-dribbble"></i>
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
    </div>
    <div>
      <h3 class="lg">Shoot us an email</h3>
      <a href="mailto:{{site.email}}">{{site.email}}</a>
    </div>
    <div class="col">
      <h3 class="lg">Useful links</h3>
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
  </div>
  <div class="container hp tp">
      &copy; {{ site.time | date: '%Y' }} Jacfox Media <span class="dot"></span> All rights reserved
  </div>
</footer>
