// Base Colours
$color__orange: #ed6b06;
$color__black: #000D22;
$color__light-grey: #d3d4d3;
$color__grey: #6a6d71;
$color__dark-grey: #3b3c43;
$color__white: #ffffff;
$color__rad-red: #ff3f5b;
$color__tick-me-pink: #FF7FAA;
$color__aqua: #15F5FF;
$color__bright_turq: #15FFDB;
$color__purp-heart: #9639DD;
$color__mauve: #EB99FF;
$color__bright-turq: #2AE0A6;
$color__scream-green: #3FFF81;
