//Size
$font-size__base: 16px;
$font-size__xxl: 3em;
$font-size__xl: 2.4em;
$font-size__l: 1.8em;
$font-size__m: 1.4em;
$font-size__s: 1em;
$font-size__xs: 0.8em;

//Family
$font-fam__base: sans-serif;
$font-fam__body: 'Roboto', $font-fam__base;
$font-fam__title: 'Roboto', $font-fam__base;

//Weights
$font-weight__base: 400;
$font-weight__bold: 700;
$font-weight__black: 900
